@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap');;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  width: 100vw;
  background: #efefef;
  height: 100vh;

  grid-template-rows: auto 1fr;
}

.app-header {
  /* background: white; */
  background: #981e32;
  padding: 1rem;
}

h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
  color: white;
  /* font-size: */
}

@media screen and (max-width: 600px) {
  h1 {
    font-size:1.5rem;
  }
}

#mainContainer {
  display: grid;
  padding: 1rem;
  font-family: "Arvo", serif;
  grid-template-rows: auto 1fr;
}

#mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  background: #999;
}

.dot {
  background: orange;
  position: absolute;
  /* top: 82.5%;
  left: 33.5%; */
  top: 97.5%;
  left: 53.75%;
  z-index: 10;
  width: 16px;
  height: 16px;
}